<o-form-layout-manager attr="EquipmentAssignment" mode="tab" title="EQUIPMENTASSIGNMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EquipmentAssignmentTable" 
            service="EquipmentAssignment" 
            entity="EquipmentAssignment" 
            title="EQUIPMENTASSIGNMENT"
            keys="id"
            columns="equipment_name;employee_id;assignment_date;id" 
            header-actions="R;D"
            visible-columns="equipment_name;employee_id;assignment_date;id"  
            sort-columns="equipment_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #equipment_name attr="equipment_name" title=" equipment_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;first_name"
        parent-keys="id:employee_id"
        value-column="first_name" keys="employee_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #assignment_date attr="assignment_date" type="timestamp" label="assignment_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>